<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeatSort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <NeatSort.Properties.Settings>
            <setting name="DefaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OrganizeByType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrganizeByDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultToCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSortIntervalMinutes" serializeAs="String">
                <value>0</value>
            </setting>
        </NeatSort.Properties.Settings>
    </userSettings>
</configuration>